@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CLEIN ECUADOR 2018</h1>
    <p class="lead">Realizar el pago de tu entrada al CLEIN ECUADOR 2018. <strong>(Precio: 100 US$)</strong></p>
    <p><a href="/Payment/index" class="btn btn-primary btn-lg">Pagar &raquo;</a></p>
</div>